<form method="POST" action="/register">
    <input name='email' type="email" required>
    <input name='username' type="text" required>
    <input name="password" type="password" required>
    <button type="submit">Login</button>
</form>